<h1>Edit contact</h1>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{contact.name}}</td>
        <td><input class="form-control" ng-model="contact.phone"></td>
        <td><input class="form-control" ng-model="contact.email"></td>
        <td><button class="btn btn-primary" ng-click="updateContact()"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button></td>
    </tr>
    </tbody>
    <a href="/#/">Go back</a>
</table>